/*  CSS for Project 1*/


* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/fireworks-180553_1920.jpg);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h1 {
  font-size: 42px;
}


h5 {
  text-align: center;
}

.container {
  padding: 75px 0;
  margin: 0 auto;
}

#spacer {
  padding: 30px 0;
}


header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(50, 7, 238, 0.75);
  padding: 1.25em 0;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 50px;
}


#info-box {
  padding-top: 100px;
  margin: 0 auto;
  align-content: center;
  color: rgba(50, 7, 238);
}


footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: rgba(50, 7, 238, .75);
  text-shadow: 2px 2px 4px #000000;
  padding-top: .5em;
}

footer a:link, a:visited {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: orangered;
}

.anchorbutton{
text-align: center;
  border-style: solid;

}
.anchorbutton:hover{
  color:blueviolet
}

#invalid_name, #invalid_date, #invalid_source, #invalid_place, #invalid_options {
  color: red;
  text-align: right;
  font-size: small;
  font-weight: bold;
  font-style: italic;
  align-content: center;
}

#movie-table, #restaurant-table, #desserts-table {
  font-size: 10px;
}


#message {
  font-size: 22px;
  font-weight: 400;
  color: rgba(50, 7, 238);
  }

.restLink{
  color:rgb(218, 40, 63);
}

.restLink:visited{
  color: rgba(50, 7, 238);
}
.books-review:visited{
  color: rgba(50, 7, 238);

}